.first-block {
    background-image: url(../img/bg-first-block.jpg);
     background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    padding-bottom: 260px;
     
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0;
    align-items: center;
}
.menu a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.logo img{
    height: 50px;
    position: relative;
    right: 40px;
}
.contacts img{
    height: 30px;
    fill: white;
}
.contacts {
    display: flex;
}

.contacts p {
    margin-left: 5px;
}

.text-first-block {
    text-align: center;
    align-items: center;
    margin: 0 15%;
}

.wrapper {
    height: 10vh;
  }
  
  .arrow {
    width: 20px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
  }
  
  .arrow.one img {
      height: 60px;
  }
@keyframes arrowDown {
    0% {
      bottom: 30px;
      opacity: 1;
    }
    100% {
      bottom: 0px;
      opacity: 0;
    }
  }

.menu, .title, .sub-title, .button {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.title {
      font-size: 60px;
    font-weight: 600;
}
.sub-title {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 50px;
}
.button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: rgb(245, 145, 79);
    border: none;
    border-radius: 3px;
    padding: 20px 50px;
    cursor: pointer;

}
.button:hover {
    background: rgb(198, 118, 65);
}

.about-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17% 0 12%;
    min-height: 800px;
}

.about-one {
    width: 53%; 
    font-family:  'Open Sans', sans-serif;
}

h1 {
    font-size: 45px;
    margin-top: 0;
}
.about-one p {
    font-size: 20px;
}
.about-two {
    width: 42%;
    display: flex;
    flex-wrap: wrap;
}

.about-two img {
    width: 45%;
    margin: 10px;
}